# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = yes

[*.{json,yml,yaml,html,rb,css,xml,scss}]
indent_size = 2

[*.{md,ts}]
trim_trailing_whitespace = false
indent_size = 4
