/**
 * color about
 */
:root {
  --callout-border-width: 0px;
  --callout-border-opacity: 0.25;
  --callout-padding: 12px 12px 12px 24px;
  --callout-radius: var(--radius-s);
  --callout-blend-mode: var(--highlight-mix-blend-mode);
  --callout-title-color: inherit;
  --callout-title-padding: 0;
  --callout-title-size: inherit;
  --callout-content-padding: 0;
  --callout-content-background: transparent;
  --callout-info: 8, 109, 221;
  --callout-todo: 8, 109, 221;
  --callout-default: 8, 109, 221;
  --callout-bug: 233, 49, 71;
  --callout-error: 233, 49, 71;
  --callout-fail: 233, 49, 71;
  --callout-success: 8, 185, 78;
  --callout-example: 120, 82, 238;
  --callout-important: 0, 191, 188;
  --callout-summary: 0, 191, 188;
  --callout-tip: 0, 191, 188;
  --callout-question: 236, 117, 0;
  --callout-warning: 236, 117, 0;
  --callout-quote: 158, 158, 158;
}

/**
 * obsidian callout about
 */
.callout {
  --callout-color: var(--callout-default), 0.1;
  border-width: var(--callout-border-width);
  border-radius: var(--callout-radius);
  background-color: rgba(8, 109, 221, 0.1);
  padding: var(--callout-padding);
}

.callout .callout-title {
  padding: var(--callout-title-padding);
  display: flex;
  gap: var(--size-4-1);
  color: var(--callout-color);
}
